body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 240px;
    padding-top: 77px;
    padding-left: 92px;
    padding-right: 22px;
    background-color: rgb(250, 250, 250);
}

p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}