
body {
    font-family: Arial;
}

button {
    cursor: pointer;
    font-size: 15px;
}

p {
    font-size: 16px;
}

.main-display, .list-display {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 4px;
}

.main-display {
    margin-bottom: 10px;
}

.list-display {
    align-items: center;
}

.name-field, .date-field {
    padding: 5px;
    margin-right: 4px;
    font-size: 15px;
}

.add-btn {
    background-color: darkgreen;
    color: white;
    padding: 12px 34px;
    border: none;
}

.delete-btn {
    background-color: darkred;
    color: white;
    padding: 12px 28px;
    border: none;
}